<h1>Create Item</h1>

<form action="/create_item" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="name">Item</label>
  <input type="text" name="name">

  <label for="pic">Picture</label>
  <input type="text" name="pic">

  <label for="price">Price</label>
  <input type="text" name="price">

  <button>Create Item!</button>
</form>
