<h1>Create Item</h1>

<form action="/create_item" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="name">Item Name:</label>
  <input type="text" name="name">

  <label for="pic">Picture URL:</label>
  <input type="text" name="pic">

  <label for="price">Price: $</label>
  <input type="text" name="price">

  <button>Add to wishlist!</button>
</form>
