<div class="header">

  <% if logged_in? %>
    <h4>Logged in as: <%= current_user.username %></h4> <h4> <a href="/users/<%= current_user.id %>">My Profile</a></h4>

  <% else %>
    <a href="/">Nobody Logged In</a>

  <% end %>

  <h1>Dear Santa</h1>
  <a href="/login">Log In</a>
  <a href="/create_account">Create Account</a>

  <a href="/create_item">Create Item</a>
  <a href="/wishlist">View Items</a>

  <form action="/session" method="post">
    <input type="hidden" value="delete" name="_method">
    <button>Logout</button>
  </form>

</div>
