<div class="header">

  <% if logged_in? %>
    <h4>Logged in as: <%= current_user.username %></h4> <h4> <a href="/users/<%= current_user.id %>">My Profile</a></h4>
  <% else %>
  <% end %>

  <h1>Dear Santa</h1>

  <% if !logged_in? %>
    <p><a href="/login">Log In</a></p> |
    <a href="/create_account">Create Account</a>
  <% else %>
    <a href="/wishlist">View Items</a>
    <a href="/create_item">Create Item</a>
    <form action="/session" method="post">
      <input type="hidden" value="delete" name="_method">
      <button>Logout</button>
    </form>
  <% end %>
</div>
