<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Rubik:400,500italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/javascript/application.js"></script>
  <link rel="stylesheet" href="/stylesheet/main.css">
</head>

<body>
  <%= yield %>
</body>
