<h1>My Profile</h1>

<h1>Username: <%= @single_user.username %></h1>
<h1>Age: <%= @single_user.age %></h1>
<h1>Location: <%= @single_user.location %></h1>

<a href="">View List</a>
<a href="">Add Item</a>
